:root {
    --border-style:3px solid black;
}
#app {
    width:100%;
    margin:auto;
    min-width:300px;
}
div#display {
    border: 5px dotted green;
    padding: 10px;
}
#players {
    margin:20px 0;
}
#players label {
    display:flex;
    margin-right:10px;
}
#players input {
    flex:1;
    margin-left:5px;
}
#start {
    width: 100%;
    background: #333;
    color: white;
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom:20px;
}
#gameboard {
    margin-top:20px;
    width:90%;
    margin:auto;
    display:flex;
    flex-wrap:wrap;
    font-size:3em;
}
.gameOver {
    pointer-events: none;
}
.box {
    flex:0 0 32%;
    height:calc(90vw / 3);
    background:white;
    display:flex;
    justify-content: center;
    align-items: center;
}

#gameboard .box:nth-child(5) {
    border: var(--border-style);
}
#gameboard .box:nth-child(2), #gameboard .box:nth-child(8) {
    border-right: var(--border-style);
    border-left: var(--border-style);
}
#gameboard .box:nth-child(4), #gameboard .box:nth-child(6) {
    border-top: var(--border-style);
    border-bottom: var(--border-style);
}
.highlight {
    animation: win 2s ease-out forwards;
}
@keyframes win {
    0% {background:gold;}
    5% {background: white;}
    100% {background: gold;}
}
@media (min-width: 550px) {
    #players {
        display: flex;
    }
    #players label {
        flex: 0 0 49%;
    }
}
@media (min-width: 768px) {
    #app {
        width:700px;
    }
    #start {
        margin-bottom:40px;
    }
    .box {
        height:calc(500px / 3);
    }
}