@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Trade+Winds&display=swap');
:root {
    --border-style:3px solid black;
}
body {
    position:relative;
    font-family: 'Press Start 2P', sans-serif;
}
h1 {
    font-size:1.5em;
}
h1 span {
    position: absolute;
    top:-100px;
    right:30px;
    font-size:.5em;
    background: black;
    color:white;
    padding:5px;
}
h1 span.show {
    animation: TE 2s ease-in-out forwards;
}
@keyframes TE {
    0% { top: -100px;}
    10% { top: 20px; }
    15% { top: 0px;}
    20% { top: 20px;}
    25% { top: 10px;}
    30% { top: 20px;}
    100% {top: 20px;}
}
#sounds {
    width:25px;
    position: absolute;
    right:-5px;
    top:20px;
}
#sounds img {
    width:25px;
}
#app {
    width:100%;
    margin:auto;
    min-width:300px;
    position: relative;
    overflow-y:hidden;
}
div#status {
    position: absolute;
    width: 100%;
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity:0;
    top:-100vh;
    transition: top .5s ease-out, opacity 1s ease-out;
}
#status span {
        background: white;
        padding: 10px;
        font-size: 2em;
}
#status.show {
    top:0;
    opacity:1;
}
div#display {
    border: 5px dotted green;
    padding: 10px;
}
#players {
    margin:20px 0;
}
#players label {
    display:flex;
    margin-right:10px;
}
#players input {
    flex:1;
    margin-left:5px;
}
#start {
    width: 100%;
    background: #333;
    color: white;
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom:20px;
}
#gameboard {
    margin-top:20px;
    width:90%;
    margin:auto;
    display:flex;
    flex-wrap:wrap;
    font-size:3em;
}
.gameOver {
    pointer-events: none;
}
.box {
    flex:0 0 32%;
    height:calc(90vw / 3);
    background:white;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow:hidden;
}
.marker {
    flex-basis: 30%;
    overflow: hidden;
    width:100%;
    text-align: center;
}
span.fatal {
    transform: scale(2,.2);
    display: block;
    position: relative;
    top: -14px;
    background: -webkit-linear-gradient(red,black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.finisher {
    width: 100%;
    position: relative;
    top: -60px; /*transition to 10px then transition flex basis to 200%*/
    flex-basis: 0%;
    transition: top .25s ease-in, flex-basis .1s ease-in;
}
.finisher svg {
    position: absolute;
    bottom: 0;
}
.finisher.fatal {
    top:10px;
}
.finisher.fatal.stage2 {
    flex-basis:270%;
}
.squasher {
    position: absolute;
    bottom: 0;
    font-size: 15px;
    line-height: 12px;
    width:100%;
}
.markType.col {
    width: 20px;
    word-break: break-all;
    margin: auto;
    font-size: 2em;
    overflow: hidden;
}
.bloodLt, .bloodRt {
    position: absolute;
    width: 50px;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    opacity:0;
    bottom:-9px;
    font-size:.75em;
}
.bloodLt {
    transition:left 5s ease-out, opacity 7s ease-out, color 7s ease-out;
}
.bloodRt {
    transition:right 5s ease-out, opacity 7s ease-out, color 7s ease-out;
}
.bloodLt.bleed {
    opacity:1;
    color:red;
    left:-100px;
}
.bloodRt.bleed {
    opacity:1;
    color:red;
    right:-100px;
}
#gameboard .box:nth-child(5) {
    border: var(--border-style);
}
#gameboard .box:nth-child(2), #gameboard .box:nth-child(8) {
    border-right: var(--border-style);
    border-left: var(--border-style);
}
#gameboard .box:nth-child(4), #gameboard .box:nth-child(6) {
    border-top: var(--border-style);
    border-bottom: var(--border-style);
}
.highlight {
    animation: win 2s ease-out forwards;
}

@keyframes win {
    0% {background:gold;}
    5% {background: white;}
    100% {background: gold;}
}
#lights {
    background:black;
    width:100vw;
    height:100vh;
    opacity: 0;
    position: absolute;
    top:0;
    /*transition: opacity 1s ease-out;*/
    animation: on 2s ease-out forwards;
}
#lights.off {
    animation: off 2s ease-out forwards;
}
@keyframes off {
    0% {opacity:0; z-index:9999;}  
    100% {opacity:.75;}
}
@keyframes on {
    0% {opacity:.75;}
    99% {z-index:9999;}  
    100% {opacity:0; z-index:-1;}
}
div#toastied {
    position: absolute;
    right: -70px;
    bottom: -250px;
    /*transition: bottom .25s ease-out;*/
    
}
#toastied.pop {
    /*bottom:-40px;*/
    animation: toastyPop 2s ease-in; 
}
@keyframes toastyPop {
    0% {bottom:-250px;}  
    30% {bottom:-40px;}
    50% {bottom:-40px;}
    100% {bottom:-250px;}
}
@media (min-width: 550px) {
    #players {
        display: flex;
    }
    #players label {
        flex: 0 0 49%;
    }
}
@media (min-width: 768px) {
    #app {
        width:700px;
    }
    #start {
        margin-bottom:40px;
    }
    .box {
        height:calc(500px / 3);
    }
}